<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <h3 class="charname"><b>Discipline:</b> {{#localizestardust item.system.discipline}}{{/localizestardust}}<br><b>Memory:</b> {{item.system.memory}} <b>DC:</b> {{item.system.dc}} <b>Resist:</b> {{#localizestardust item.system.save}}{{/localizestardust}}{{#if (notEmpty item.system.duration)}}<br><b>Duration:</b> {{item.system.duration}}{{/if}}<br><b>Target:</b> {{#localizestardust item.system.target}}{{/localizestardust}}{{#if (overZero item.system.range)}}<br><b>Range:</b> {{item.system.range}}u {{/if}}{{system.damagedata}}<br>{{system.traitsdata}}</h3>
      
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <h2>Stats</h2></br>
        <div class="properties grid grid-3col">
          <div class="resource flex-group-center">
            <label for="system.speed" class="resource-label">Discipline</label> 
            <div class="resource-content flexrow flex-center flex-between">
              {{{dropdown (getdisciplines) system.discipline "system." "discipline" ""}}}
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.memory" class="resource-label">Memory Cost</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.memory" value="{{system.memory}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.range" class="resource-label">Psionic DC</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.dc" value="{{system.dc}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.range" class="resource-label">Range</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.range" value="{{system.range}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.range" class="resource-label">Target</label>
            <div class="resource-content flexrow flex-center flex-between">
              {{{dropdown (gettargets) system.target "system." "target" ""}}}
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.damage" class="resource-label">Damage</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.damage" class="resource-label">Duration</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.range" class="resource-label">Save Type</label>
            <div class="resource-content flexrow flex-center flex-between">
              {{{dropdown (getattributes) system.save "system." "save" ""}}}
            </div>
          </div>
        </div>
        <h2>Damage Type</h2></br>
        <div class="properties grid grid-3col">
          {{#each system.type as |type key|}}
          <div class="align-left">
            <input type="checkbox" name="system.type.{{key}}" {{#if (notZero type)}}checked{{/if}} />
            <span class="resource-label">{{#localizestardust key}}{{/localizestardust}}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</form>
